body {
    background: #FFF2E3;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}

.btn-outline-info {
    color: #0dcaf0;
    border-color: #0dcaf0;
}

.block-main {
    position: relative;
    max-width: 100%;
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
    padding-bottom: 30px;
    text-align: left;
    border-top: 5px solid #000;
    height: 100vh;
}

.block-main > form {
    overflow-y: auto;
    overflow-x: hidden;
    height: 95%;
}

.home-button {
    position: absolute;
    top: -45px;
}

button span {
    background: #fdf2e3;
}

#result {
    overflow-y: auto;
    height: 95%;
    overflow-x: hidden;
}

.resblock {
    background: #e5e5e5;
    padding: 5px 20px;
    margin-bottom: 5px;
}

.causep {
    padding: 0 0 0 10px;
}

.home-button button{
    border: none;
    padding: 5px 15px;
    background: #fff;
    border-bottom: 2px solid #000;
    box-shadow: 0px 0px 3px #ddd;
    display: none;
}

button[type="submit"] {
    background: #0a58ca;
    border-radius: 0;
}

.button-row {
    border-bottom: 0 !important;
    text-align: right;
}

input, select {
    margin: 5px 0;
    display: inline-block;
}

label {
    display: revert;
}

button.skipbtn {
    background: #0a58ca;
    border-radius: 0;
}

h1 {
    /* border-left: 5px solid;
    padding-left: 15px; */
    position: sticky;
    top: 0;
    background: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

p {
    background: #e5e5e5;
    padding: 5px 20px;
}

form .row-questions {
    margin: 5px 0;
    border: 1px solid #198754;
    padding-bottom: 5px;
}

.question-label {
    font-size: 16px;
    font-weight: 600;
}

button {
    margin: 20px 0;
}

.form-block-step {
    width: 100%;
    border: 2px solid #fff;
    padding-left: 15px;
    background: #198754;
    border-radius: 10px;
    color: #fff;
}

.form-block-step input {
    display: inline-block;
    position: relative;
    padding-left: 18px;
    height: 36px;
    width: 44px;
    border-radius: 5px;
    border: none;
    right: -10px;
    vertical-align: middle;
}

.form-block-step label {
    position: relative;
    display: inline-block;
    width: 90%;
    vertical-align: middle;
}

form {
    /* display: none; */
}

.result {
    display: none;
}

.form-active {
    display: block !important;
}


.res_block {
    text-align: center;
    border: 1px solid;
    padding: 15px;
    background: #e9ecef;
}

#result-block {
    padding: 15px;
}

.low {
    background: green;
    color: #fff;
}

.medium {
    background: yellow;
}

.hard {
    background: red;
    color: #fff;
}

p span {
    float: right;
}

.username {
    text-align: right;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0px;
}

button[type="button"].bbts {
    background: #0a58ca;
    border-radius: 0;
}

.block_paste {
    position: sticky;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    background: #fff;
    z-index: 999;
    padding-top: 70px;
    display: block;
}

header {
    position: absolute;
    top: -12px;
    z-index: 9999;
    width: 100%;
    margin: 0 auto;
    display: block;
    left: 0;
}


@media screen and (max-width: 800px) {
    .block-main {
        width: 100%;
        height: 100vh;
        overflow-y: auto;
    }

    .row-questions > .col {
        flex: auto!important;
    }
    label {
        display: revert;
        top: -1px;
        position: relative;
    }
    h1 {
        position: sticky;
        top: 0;
        background: #fff;
        padding-bottom: 5px;
        border-bottom: 1px solid #000;
        z-index: 99;
    }
}