{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'webpage/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
    Опрос
{% endblock title %}

{% block content %}
    <div class="block-main">
        <div id="header-block">
            <h1>Welly Screening Questions</h1>
        </div>
        <hr>
        <div id="body-block">
            <p>This questionnaire is aimed at finding focal points in the body that require attention, and in the future will help you and us to better understand the current state of the body. All data will be anonymized if you so choose. The first name, last name and email fields can be left blank. At the beginning of the survey, you will be assigned an identifier, by which we will later be able to understand that it is you. All data is stored and encrypted on the server.</p>
        </div>
        <form id="body-form" class="form-active">
            {% csrf_token %}
            <div id="body-form-input">

            </div>
        </form>
        <div id="button-block">
            <button class="btn btn-lg w-100 btn-primary" id="activate-test">START</button>
        </div>
        <div class="footer-block">
            
        </div>
    </div>
    
{% endblock content %}