{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'webpage/quiz.js' %}" defer></script>
{% endblock scripts %}
{% block title %}
    Опрос
{% endblock title %}
{% block content %}
    <style>
        form {
            display: none;
        }
    </style>
    <div class="block-main">
        <div class="home-button">
            <a href="/"><button>HOME</button></a>
            <button>ID - <span>{{uid}}-</span></button>
        </div>
        <br>
        {% for data in questions %}
            <form id="body-form-{{ forloop.counter }}" class="step-{{ forloop.counter }} {% if forloop.counter == 1 %}form-active{% endif %}"
            step="{{ forloop.counter }}">
            {% csrf_token %}
            {% if forloop.counter == 6 %}
                <div class="row block_paste paste6">
                    <br><br>
                    <p>You passed 1/3 of the checkup.</p>
                    <p>Great – let’s get going!</p>
                    <p>Next questions help us to figure out your current state of health.</p>
                    <a class="btn btn-lg btn-success" id="paste6">NEXT</a>
                </div>
            {% endif %}
            {% if forloop.counter == 12 %}
                <div class="row block_paste paste11">
                    <br><br>
                    <p>You’ve passed more than 2/3 of the checkup.</p>
                    <p> Great – you are close to the finish!</p>
                    <p> Let's do it together!</p>
                    <a class="btn btn-lg btn-success" id="paste11">NEXT</a>
                </div>
            {% endif %}
            {% for item in data  %}
                {% if forloop.counter == 1 %}
                    {% comment %} <h1>{{item}}</h1> {% endcomment %}
                {% endif %}
                {% if forloop.counter == 2 %}
                    <h1>{{item}}</h1>
                {% endif %}
                {% if forloop.counter == 3 %}
                    {{item|safe}}
                {% endif %}
                {% if forloop.counter > 3 %}
                    <div class="row row-questions">
                    {% for obj in item %}
                        {% if forloop.counter == 1 %}
                            <label for="" class="question-label">{{obj}}</label>
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            {% if obj != None and obj|length > 0 %}
                                {{obj|safe}}
                            {% endif %}
                        {% endif %}
                        {% if forloop.counter > 2 %}
                            <div class="col">
                            {% for answer in obj %}
                                {% if forloop.counter == 1 %}
                                <label for="{% for name in item %}{% if forloop.counter == 1 %}{{name}}{% endif %}{% endfor %} {{forloop.parentloop.counter}}">
                                <input type="radio" class="ans" name="{% for name in item %}{% if forloop.counter == 1 %}{{name}}{% endif %}{% endfor %}" {% for name in item %}{% if forloop.counter == 1 %}required{% endif %}{% endfor %} value="{{answer}}" id="{% for name in item %}{% if forloop.counter == 1 %}{{name}}{% endif %}{% endfor %} {{forloop.parentloop.counter}}"
                                {% endif %}
                                {% if forloop.counter == 2 %}
                                    alt="{{answer}}">
                                {% endif %}
                                {% if forloop.counter == 3 %}
                                {{answer}}</label>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                {% comment %} {{item}} {% endcomment %}
            {% endfor %}
                <div class="row button-row">
                <div class="col">
                
                {% comment %} {% if forloop.counter == 19 or forloop.counter == 20 or forloop.counter == 21 or forloop.counter == 22  %} {% endcomment %}
                
                {% comment %} {% endif %} {% endcomment %}
                {% if not forloop.last %}
                    <button type="button"
                    class="btn btn-lg btn-success skipbtn"
                    name="button"
                    id="skip{{ forloop.counter }}"
                    bstep="{{ forloop.counter }}">
                        SKIP
                    </button>
                    <script>
                        $('#skip{{ forloop.counter }}').click(function(){
                            var step = Number($('#skip{{ forloop.counter }}').attr('bstep'));
                            var progress = Number($('.progress-bar').attr('aria-valuenow'));
                            //console.log(step, progress)
                            progress_bar(step, progress);
                            window.scrollTo(0, 0);
                        })
                    </script>
                    {% if not forloop.first %}
                    <button type="button"
                        class="btn btn-lg btn-success bbts"
                        id="back-{{ forloop.counter }}"
                        bstep="{{ forloop.counter }}">
                            BACK
                    </button>
                    <script>
                        $('#back-{{ forloop.counter }}').click(function(){
                            var step = Number($('#back-{{ forloop.counter }}').attr('bstep'));
                            var progress = Number($('.progress-bar').attr('aria-valuenow'));
                            var all_step = Number($('#result').attr('all-step'))
                            console.log(all_step)
                
                            step_bar = 100 / all_step
                
                            console.log(step)
                
                
                            $('.step-' + step + '').removeClass('form-active');
                            $('.step-' + (step - 1) + '').addClass('form-active');
                            $('.progress-bar').attr('style', 'width: ' + (progress - step_bar) + '%');
                            $('.progress-bar').attr('aria-valuenow', (progress - step_bar));
                
                            window.scrollTo(0, 0);
                        })
                    </script>
                    {% endif %}
                    <button type="submit"
                    class="btn btn-lg btn-success"
                    name="button"
                    id="step"
                    bstep="{{ forloop.counter }}">
                        NEXT
                    </button>
                {% endif %}
                {% if forloop.last %}
                    <button type="button"
                        class="btn btn-lg btn-success bbts"
                        id="back-{{ forloop.counter }}"
                        bstep="{{ forloop.counter }}">
                            BACK
                    </button>
                    <script>
                        $('#back-{{ forloop.counter }}').click(function(){
                            var step = Number($('#back-{{ forloop.counter }}').attr('bstep'));
                            var progress = Number($('.progress-bar').attr('aria-valuenow'));
                            var all_step = Number($('#result').attr('all-step'))
                            console.log(all_step)
                
                            step_bar = 100 / all_step
                
                            console.log(step)
                
                
                            $('.step-' + step + '').removeClass('form-active');
                            $('.step-' + (step - 1) + '').addClass('form-active');
                            $('.progress-bar').attr('style', 'width: ' + (progress - step_bar) + '%');
                            $('.progress-bar').attr('aria-valuenow', (progress - step_bar));
                
                            window.scrollTo(0, 0);
                        })
                    </script>
                    <button type="submit"
                    class="btn btn-lg btn-success resbtn"
                    name="button"
                    id="step"
                    bstep="{{ forloop.counter }}" result="result" onclick="">
                        RESULTS
                    </button>
                {% endif %}
                </div></div>
            </form>
            <script>
                $("#body-form-{{ forloop.counter }}").submit(function (e) {

                    e.preventDefault(); // avoid to execute the actual submit of the form.
                    
                    const elements = [...document.getElementById("body-form-{{ forloop.counter }}")]
                    const csrf = document.getElementsByName('csrfmiddlewaretoken')
                    const ansel = [...document.getElementsByClassName('ans')]
                    const url = window.location.href
                    const data = {}
                    const data_form = {}
                    const answer_data = {}
                    const answer_form = new Array();
                    answer_data['csrfmiddlewaretoken'] = csrf[0].value
                    answer_data['name_block'] = $('#body-form-{{ forloop.counter }} > h1').text()
                    data['csrfmiddlewaretoken'] = csrf[0].value
                    data_form['csrfmiddlewaretoken'] = csrf[0].value

                    const new_data = new Array();
                
                    result_block = 0

                    var cuase_block = new Array();
                    //var itr = 0
                    elements.forEach(el => {
                        if (el.checked) {
                            new_data.push([el.name, el.value])
                            let answer = `${el.name} | ${el.value}`
                            answer_form.push(answer)
                            data[el.name] = el.value
                            result_block += Number(el.value)
                            cuase_block.push(el.alt)
                        } else {
                            if (!data[el.name]) {
                                data[el.name] = null
                            }
                        }
                        
                
                        if (el.type == 'submit') {
                            var step = Number($(el).attr('bstep'));
                            var progress = Number($('.progress-bar').attr('aria-valuenow'));
                            progress_bar(step, progress);
                        }
                    })

                    data_form['name_block'] = $('#body-form-{{ forloop.counter }} > h1').text()
                    data_form['result_block'] = result_block
                    data_form['cuase_block'] = cuase_block.join()
                    //data_form['result_ansver'] = answer_form

                    function revie(e) {
                        elements.forEach(el => {
                            if (el.type == 'submit') {
                                const res = el.hasAttribute('result')
                                console.log(res)
                                if(res == true) {
                                    $.ajax({
                                        type: 'GET',
                                        url: `/counter/`,
                                        data: answer_data,
                                        success: function (response) {
                                            console.log(response)
                                        },
                                        error: function (error) {
                                            console.log(error)
                                        },
                                    })
                                    localStorage.clear()
                                    //location.href = '/resultpage/{{countdata}}/';
                                }
                            }
                        })
                    }
                
                    $.ajax({
                        type: 'POST',
                        url: `${url}save/`,
                        data: data_form,
                        success: function (response) {
                            console.log(data_form)
                            console.log(response)
                            revie()
                        },
                        error: function (error) {
                            console.log(error)
                        },
                    })
                    
                    answer_data['answer'] = answer_form.join(" # ")
                    $.ajax({
                        type: 'POST',
                        url: `${url}newsaveansver/`,
                        data: answer_data,
                        success: function (response) {
                            revie()
                        },
                        error: function (error) {
                            console.log(error)
                        },
                    })
                    window.scrollTo(0, 0);
                    
                });
            </script>
            {% if forloop.last %}
            <div class="result" id="result" all-step="{{forloop.counter}}">
                <h2>Thank you!</h2>
                <div class="row nobp" id="result-block">
                    <p>
                        Based on your responses, we’ve created a report to help you decide your next steps.
                    <br>
                        We use different colours to prioritise the possible causes of your health problems.
                    <br>
                        Green blocks mean the results are within the normal range, most likely there is no any problem.
                    <br>
                        Yellow blocks mean you have to pay attention to these parts of your health.
                    <br>
                        Red blocks mean detected diseases are most likely to be the primary causes of your health problems, needed to be treated firstly to prevent future aggravation of symptoms.
                    </p>
                    <p>
                        Please note:
                        <br>
                        This isn’t a diagnosis. Always visit a doctor if you’re unsure, or if your symptoms get worse, or don’t improve. Welly is not liable for any decisions, acts or omissions you make.
                        <br>
                        If it's serious or you think it's an emergency, don't delay – seek medical attention right away.
                    </p>
                    <center>
                        <a href="/resultpage/{{countdata}}/" class="btn btn-lg btn-success">
                            Get a report
                        </a>
                    </center>
                </div>
            </div>
            <script>
                var step = Number({{ forloop.counter }});
                $('.result').addClass('step-'+ (step +1))
            </script>
            {% endif %}
        {% endfor %}
        <div id="header-block">
        </div>
        <div id="body-block"></div>
        <div id="button-block"></div>
        <div class="footer-block"></div>
    </div>
    <script>
        function progress_bar(step, progress){
            var all_step = Number($('#result').attr('all-step'))
            console.log(all_step)

            step_bar = 100 / all_step

            console.log(step_bar)


            $('.step-' + step + '').removeClass('form-active');
            $('.step-' + (step + 1) + '').addClass('form-active');
            $('.progress-bar').attr('style', 'width: ' + (progress + step_bar) + '%');
            $('.progress-bar').attr('aria-valuenow', (progress + step_bar));
        }
        
    </script>

    <script>
        $('#paste6').click(function(){
            $('.paste6').remove()
        })
        $('#paste11').click(function(){
            $('.paste11').remove()
        })
        $('#body-form-3 input').removeAttr("required")
        $('#body-form-8 input').removeAttr("required")

        document.querySelectorAll('input[type="radio"]').forEach(elt => { 

            console.log(elt)
            if (localStorage.getItem(elt.name) == elt.value) 
                elt.checked = true; 
            //TODO evnt target neeed!!!!
            elt.addEventListener("change", e => { 
                console.log(e)
                //localStorage.setItem(e.path[0].name, e.path[0].value);
            }); 
        });

        function clearlocalsrotage(){
            localStorage.clear()
        }
        
    </script>
{% endblock content %}
