{% extends 'base.html' %}
{% block content %}
    <div class="block-main">
        <h2 class="text-center">Who is the checkup for?</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">{{ form.username }}</div>
            <div class="mb-3">{{ form.age }}</div>
            <div class="mb-3">{{ form.gender }}</div>
            <div class="mb-3">{{ form.massa }}</div>
            <div class="mb-3">{{ form.purpose }}</div>
            <div class="mb-3">{{ form.decision }}</div>
            <div class="mb-3">{{ form.problem }}</div>
            <button type="submit" class="btn btn-primary tex-right w-100 btn-lg">SAVE</button>
        </form>
    </div>
    <script>
        $(document).ready(function() {
            $('#example-getting-started').multiselect();
        });
    </script>
{% endblock %}
