{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'nwe/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
    Опрос
{% endblock title %}

{% block content %}
<style>
    div img {
        max-width: 100%;
    }
</style>
    <div class="block-main">
        <div id="header-block">
            <h1>Welly Digital Screening</h1>
        </div>
        <hr>
        <div id="body-block">
            <p style="background: none;">Before using the checkup, please read Terms of Service. Remember that:</p>
                <ul>
                    <li>Checkup is not a diagnosis. Checkup is for informational purposes and is not a qualified medical opinion.</li>
                    <li>Do not use in emergencies. In case of health emergency, call your local emergency number immediately.</li>
                    <li>Your data is safe. Information that you provide is anonymous and not shared with anyone.</li>
                </ul>
                <p style="background: none;">
                    There is the example of Welly check-up’ results
                    <div class="row">
                        <div class="col-lg-6"><img src="{% static 'img/ind1.png'%}" alt=""></div>
                        <div class="col-lg-6"><img src="{% static 'img/ind2.png'%}" alt=""></div>
                    </div>
                </p>
                <p style="background: none;">
                    By clicking <b class="btn btn-success" style="padding:0px 5px;">Next</b>, you agree to the <a href="{% static 'uploads/TermsofService.pdf'%}" target="blank">Terms</a> of Service and agree to the processing of health data.
                </p>
        </div>
        <div id="button-block text-center">
            <button class="btn btn-lg w-100 btn-success" id="activate-test">Next</button>
        </div>
        <div class="footer-block">
            
        </div>
    </div>
    
{% endblock content %}