{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'nwe/main.js' %}" defer></script>
{% endblock scripts %}
{% block title %}
    Опрос
{% endblock title %}
{% block content %}
    <div class="block-main">
        <div id="header-block"></div>
        <hr>
        <div id="body-block">
            <p>
                Thanks for reaching out!
                <br>
                <br>
                We will provide you with a demo of Welly after finishing it.
                <br>
                <br>
                We are very grateful to you for passing our checkup. Please, write a feedback, so we can make our product better for you.
            </p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <h2></h2>
                    <label for="exampleFormControlSelect1">Please rate your satisfaction with the test on a scale from 1 to 10                    </label>
                    {{form.rate}}
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">What did you like the most?</label>
                    {{form.like}}
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">What did you dislike the most? What would you change</label>
                    {{form.dislike}}
                </div>
                <button type="submit" class="btn btn-lg btn-success w-100">Send feedback</button>
            </form>
        </div>
        <div id="button-block"></div>
        <div class="footer-block"></div>
    </div>
{% endblock content %}
