{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'webpage/quiz.js' %}" defer></script>
{% endblock scripts %}
{% block title %}
    Опрос
{% endblock title %}
{% block content %}
    <style>
        form {
            display: none;
        }
    </style>
    <div class="block-main">
        <div class="home-button">
            <a href="/"><button>HOME</button></a>
            <button>ID - <span>{{uid}}-</span></button>
        </div>
        <div id="header-block">
        </div>
        <div id="body-block" style="overflow-y: auto;height: 100%;">
            <h2 style="position: sticky;top: 0;background: #fff;padding-bottom: 5px;">Possible causes of your health problems</h2>
            <div id="result-block">
                <div class="col-12">
                    <div class="row resblock">
                        <div class="col-4 col-sm-5 col-md-4">
                            
                        </div>
                        <div class="col-6 col-sm-6 col-md-7 text-center">
                            Causes
                        </div>
                    </div>
                </div>
                {% for item in result_all %}
                    {% for data in item %}
                        {% if forloop.counter != 1 %}
                            {% for quiz in data %}
                                {% if forloop.counter == 1 %}
                                    <div class="col-12">
                                        <div class="row resblock {{quiz}}">
                                {% endif %}
                                {% if forloop.counter == 2 %}
                                            <div class="col-4 col-sm-5 col-md-4">
                                                {{quiz}}     
                                            </div>
                                {% endif %}
                                {% if forloop.counter == 4 %}
                                            <div class="col-8 col-sm-7 col-md-8">
                                                {% for cuases in quiz %}
                                                    {{cuases}},
                                                {% endfor %}   
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                

                <div class="col-12&quot;">
                    <div class="row resblock">
                        <div class="col-12&quot;">
                            <br><br>
                            <p>We have uncovered the possible root causes of the health problems. You can receive a health protocol with personalised roadmaps (options of the next steps) to your healthier future.</p>
                            <p> A health protocol will include extensive health assessment report and personalized recommendations on:<br> 1.Nutrition <br>2.Mind<br> 3.Movement<br> 4.Sleep</p>
                            <br><br>
                            <a href="/final/" class="btn btn-lg w-100 btn-danger">Get a personalised health protocol for $150/year</a>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="button-block"></div>
        <div class="footer-block"></div>
    </div>

    <script>
        $.ajax({
            type: 'GET',
            url: `/counter/`,
            success: function (response) {
                console.log(response)
            },
            error: function (error) {
                console.log(error)
            },
        })
    </script>

{% endblock content %}
