{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'webpage/quiz.js' %}" defer></script>
{% endblock scripts %}
{% block title %}
    Опрос
{% endblock title %}
{% block content %}
    <style>
        form {
            display: none;
        }
    </style>
    <div class="block-main">
        <div class="home-button">
            <a href="/">
                <button>HOME</button>
            </a>
            <button>
                ID - <span>{{ uid }}-</span>
            </button>
        </div>
        <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: 0%"
                 aria-valuenow="0"
                 aria-valuemin="0"
                 aria-valuemax="100">
            </div>
        </div>
        <br>
        {% for data in questions %}
            <form id="body-form-{{ forloop.counter }}"
                  class="step-{{ forloop.counter }} {% if forloop.counter == 1 %}form-active{% endif %}"
                  step="{{ forloop.counter }}">
                {% csrf_token %}
                {% for item in data  %}
                    {% if forloop.counter == 2 %}<h1>{{ item }}</h1>{% endif %}
                    {% if forloop.counter > 2 %}
                        <div class="row row-questions">
                            {{item}}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="row button-row">
                    <div class="col">
                        {% comment %} {% if forloop.counter == 19 or forloop.counter == 20 or forloop.counter == 21 or forloop.counter == 22  %} {% endcomment %}
                        {% comment %} {% endif %} {% endcomment %}
                        {% if not forloop.last %}
                            <button type="button"
                                    class="btn btn-lg btn-primary skipbtn"
                                    name="button"
                                    id="skip{{ forloop.counter }}"
                                    bstep="{{ forloop.counter }}">
                                SKIP
                            </button>
                            <script>
                        $('#skip{{ forloop.counter }}').click(function(){
                            var step = Number($('#skip{{ forloop.counter }}').attr('bstep'));
                            var progress = Number($('.progress-bar').attr('aria-valuenow'));
                            //console.log(step, progress)
                            progress_bar(step, progress);
                            window.scrollTo(0, 0);
                        })
                            </script>
                            {% if not forloop.first %}
                                <button type="button"
                                        class="btn btn-lg btn-primary"
                                        id="back-{{ forloop.counter }}"
                                        bstep="{{ forloop.counter }}">
                                    BACK
                                </button>
                                <script>
                        $('#back-{{ forloop.counter }}').click(function(){
                            var step = Number($('#back-{{ forloop.counter }}').attr('bstep'));
                            var progress = Number($('.progress-bar').attr('aria-valuenow'));
                            var all_step = Number($('#result').attr('all-step'))
                            console.log(all_step)
                
                            step_bar = 100 / all_step
                
                            console.log(step)
                
                
                            $('.step-' + step + '').removeClass('form-active');
                            $('.step-' + (step - 1) + '').addClass('form-active');
                            $('.progress-bar').attr('style', 'width: ' + (progress - step_bar) + '%');
                            $('.progress-bar').attr('aria-valuenow', (progress - step_bar));
                
                            window.scrollTo(0, 0);
                        })
                                </script>
                            {% endif %}
                            <button type="submit"
                                    class="btn btn-lg btn-primary"
                                    name="button"
                                    id="step"
                                    bstep="{{ forloop.counter }}">
                                NEXT
                            </button>
                        {% endif %}
                        {% if forloop.last %}
                            <button type="button"
                                    class="btn btn-lg btn-primary"
                                    id="back-{{ forloop.counter }}"
                                    bstep="{{ forloop.counter }}">
                                BACK
                            </button>
                            <script>
                        $('#back-{{ forloop.counter }}').click(function(){
                            var step = Number($('#back-{{ forloop.counter }}').attr('bstep'));
                            var progress = Number($('.progress-bar').attr('aria-valuenow'));
                            var all_step = Number($('#result').attr('all-step'))
                            console.log(all_step)
                
                            step_bar = 100 / all_step
                
                            console.log(step)
                
                
                            $('.step-' + step + '').removeClass('form-active');
                            $('.step-' + (step - 1) + '').addClass('form-active');
                            $('.progress-bar').attr('style', 'width: ' + (progress - step_bar) + '%');
                            $('.progress-bar').attr('aria-valuenow', (progress - step_bar));
                
                            window.scrollTo(0, 0);
                        })
                            </script>
                            <button type="submit"
                                    class="btn btn-lg btn-primary resbtn"
                                    name="button"
                                    id="step"
                                    bstep="{{ forloop.counter }}"
                                    result="result"
                                    onclick="">
                                NEXT - RESULT
                            </button>
                        {% endif %}
                    </div>
                </div>
            </form>
            <script>
                $("#body-form-{{ forloop.counter }}").submit(function (e) {

                    e.preventDefault(); // avoid to execute the actual submit of the form.
                    
                    const elements = [...document.getElementById("body-form-{{ forloop.counter }}")]
                    const csrf = document.getElementsByName('csrfmiddlewaretoken')
                    const ansel = [...document.getElementsByClassName('ans')]
                    const url = window.location.href
                    const data = {}
                    const data_form = {}
                    data['csrfmiddlewaretoken'] = csrf[0].value
                    data_form['csrfmiddlewaretoken'] = csrf[0].value
                
                    result_block = 0
                    var cuase_block = new Array();
                    elements.forEach(el => {
                        if (el.checked) {
                            data[el.name] = el.value
                            result_block += Number(el.value)
                            cuase_block.push(el.id)
                        } else {
                            if (!data[el.name]) {
                                data[el.name] = null
                            }
                        }
                
                        if (el.type == 'submit') {
                            var step = Number($(el).attr('bstep'));
                            var progress = Number($('.progress-bar').attr('aria-valuenow'));
                            progress_bar(step, progress);
                        }
                    })

                    data_form['name_block'] = $('#body-form-{{ forloop.counter }} > h4').text()
                    data_form['result_block'] = result_block
                    data_form['cuase_block'] = cuase_block.join()

                    function revie(e) {
                        elements.forEach(el => {
                            if (el.type == 'submit') {
                                const res = el.hasAttribute('result')
                                console.log(res)
                                if(res == true) {
                                    result()
                                }
                            }
                        })
                    }
                
                    $.ajax({
                        type: 'POST',
                        url: `${url}save/`,
                        data: data_form,
                        success: function (response) {
                            console.log(response)
                            revie()
                        },
                        error: function (error) {
                            console.log(error)
                        },
                    })
                    window.scrollTo(0, 0);
                    
                });
            </script>
            {% if forloop.last %}
                <div class="result" id="result" all-step="{{ forloop.counter }}">
                    <h2>Welly Screenig Resultat</h2>
                    <div class="row" id="result-block"></div>
                </div>
                <script>
                var step = Number({{ forloop.counter }});
                $('.result').addClass('step-'+ (step +1))
                </script>
            {% endif %}
        {% endfor %}
        <div id="header-block"></div>
        <div id="body-block"></div>
        <div id="button-block"></div>
        <div class="footer-block"></div>
    </div>
    <script>
        function progress_bar(step, progress){
            var all_step = Number($('#result').attr('all-step'))
            console.log(all_step)

            step_bar = 100 / all_step

            console.log(step_bar)


            $('.step-' + step + '').removeClass('form-active');
            $('.step-' + (step + 1) + '').addClass('form-active');
            $('.progress-bar').attr('style', 'width: ' + (progress + step_bar) + '%');
            $('.progress-bar').attr('aria-valuenow', (progress + step_bar));
        }
        function result(){
            const csrf = document.getElementsByName('csrfmiddlewaretoken')
            const url = window.location.href
            const datat = {}
            const resultBlock = document.getElementById('button-block')
            datat['csrfmiddlewaretoken'] = csrf[0].value
            $.ajax({
                type: 'POST',
                url: `${url}result/`,
                data: datat,
                success: function (response) {
                    result = response.result
                    console.log(result)
                    const resultBlock = document.getElementById('result-block')
                    result.forEach(el => {
                        resultBlock.innerHTML += `
                                <h2>${el[0]}</h2>
                                <div id="resultanswers"></div>
                        `
                        delete el[0]
                        const resultAnswers = document.getElementById('resultanswers')
                        el.forEach(elements =>{
                            console.log(elements)
                            resultBlock.innerHTML += `
                                <p>
                                    <div class="row">
                                        <div class="col">
                                            ${elements[0]}
                                        </div>
                                        <div class="col">
                                            ${elements[1]}
                                        </div>
                                        <div class="col">
                                            ${elements[3]}
                                        </div>
                                    </div>
                                </p>
                        `     
                        })
                                   
                    })

                },
                error: function (error) {
                    console.log(error)
                },
            })
        }
    </script>
{% endblock content %}
