{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'quizes/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
home
{% endblock title %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="quizStartModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Пройти</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-confirm"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Потом</button>
          <button type="button" id="start-button" class="btn btn-success">Далее</button>
        </div>
      </div>
    </div>
</div>

<div class="h1">Опрос</div>
<hr>

{% for obj in object_list %}
    <button
        class="btn btn-link modal-button"
        data-pk="{{ obj.pk }}"
        data-quiz="{{ obj.name }}"
        data-bs-toggle="modal" 
        data-bs-target="#quizStartModal">
        Начать тест
    </button>
  
{% endfor %}

{% endblock content %}