{% extends 'base.html' %}

{% block content %}
<div class="block-main">
    <div>
        <h2 class="text-center">Hello! <br>
            Your digital health coach Welly is here.
            </h2>
        <p style="background: none;">Check your symptoms and find out root causes to assess your overall health status.
            You are about to use a long (40 min), extensive, safe and anonymous health checkup. Skip question blocks that are not relevant to you.</p>
        <p style="background: none;">Your answers will be carefully analyzed and you’ll learn about possible causes of your symptoms and information to help you decide next best actions.</p>
            <p style="background: none;">We know taking the first steps toward starting a wellness journey can be challenging and we want to make it beneficial for you. </p>
           <p style="background: none;"> Who is the checkup for?</p>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">{{ form.username }}</div>
            <div class="mb-3">{{ form.age }}</div>
            <div class="mb-3">{{ form.gender }}</div>
            <div class="mb-3">{{ form.massa }}</div>
            <div class="mb-3">{{ form.purpose }}</div>
            <div class="mb-3">{{ form.decision }}</div>
            <div class="mb-3" style="display: none">
                <div class="row">
                    <div class="col-12">
                        {{ form.problem }}
                        <label for="">1. STOMACH AND PANCREAS</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_two }}
                        <label for="">	2. SMALL INTESTINE</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_fre }}
                        <label for="">3. GASTROINTESTINAL INFECTIONS / INFESTATIONS</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_foo }}
                        <label for="">	4. LARGE INTESTINE</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_fiv }}
                        <label for="">5. LIVER AND GALLBLADDER</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_sex }}
                        <label for="">6. ESSENTIAL NUTRIENTS</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_sev }}
                        <label for="">7. CARBOHYDRATE METABOLISM</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_ech }}
                        <label for="">8. ADRENAL GLANDS</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_noi }}
                        <label for="">9. THYROID GLAND</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_thn }}
                        <label for="">10. CARDIOVASCULAR SYSTEM</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_elv }}
                        <label for="">11. KIDNEYS AND BLADDER</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_lav }}
                        <label for="">12. THE IMMUNE SYSTEM</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_ulw }}
                        <label for="">13. MEN'S HEALTH</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_flv }}
                        <label for="">14. WOMEN'S HEALTH</label>
                    </div>
                    <div class="col-12">
                        {{ form.problem_fvt }}
                        <label for="">15. SLEEP DISTURBANCE</label>
                    </div>
                    
                </div>
            </div>
            <button type="submit" class="btn btn-primary tex-right w-100 btn-lg">START QUESTIONS</button>
        </form>
        <hr>
        <div id="button-page">
        </div>
    </div>
</div>
<script>
    const buttonpage = document.getElementById('button-page')
    var iter = {{count}}
    if (Number(iter) > 1) {
        for (var i = 1; i <= Number(iter); i++) {
            buttonpage.innerHTML += `<a href="/resultpages/${i}/" class="btn btn-primary">${i}</a>`
        }
    }
</script>
{% endblock %}
